/* Setup */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
    background-color: lightgrey;
}

.board {
    border-spacing: 0;
    border-collapse: collapse;
}

.board th {
    padding: 12px;
}

.board td {
    border: 1px solid;
    width: 60px;
    height: 60px;
}

.light {
    background: #eeeed2;
}

.dark {
    background: #769656;
}

.selected {
    background-color: #baca44;
}

#clockContainer {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-bottom: 10px;
    margin-left: 138px;
}

.clock {
    padding: 10px 20px;
    background: #222;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.active {
    background: #4caf50;
}

#turnDisplay {
    margin-left: 179px;
    color: black;
    font-family: sans-serif;
}

#welcome {
    color: white;
    font-family: sans-serif;
}

#buttonContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 35px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.menuButton {
    padding: 15px 30px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#resetButton,
#forfeitButton {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}