/* Setup */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
    background-color: lightgrey;
}

.board {
    border-spacing: 0;
    border-collapse: collapse;
}

.board th {
    padding: 12px;
}

.board td {
    border: 1px solid;
    width: 60px;
    height: 60px;
}

.light {
    background: #eeeed2;
}

.dark {
    background: #769656;
}

.selected {
    background-color: #baca44;
}

#clockContainer {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-bottom: 10px;
    margin-left: 135px;
}

.clock {
    padding: 10px 20px;
    background: #222;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.active {
    background: #4caf50;
}

#turnDisplay {
    margin-left: 170px;
}

#resetButton {
    display: block;
    margin-left: 216px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}